.product-detail-info__container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  /* first column: up to 50% of the container, but will size down to its content;
     second column: take remaining space, and can shrink below its content‐width if needed */
  grid-template-columns: fit-content(50%) minmax(0, 1fr);
  gap: 1px 0;
  padding: 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.product-detail-info__item-left {
  padding: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.product-detail-info__item-right {
  padding: 4px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;

  @media (max-width: 768px) {
    justify-content: start;
  }
}

.product-detail-info__item-icon {
  margin-left: 8px;
}
