# copy this file to .env.local and fill in any missing value

VITE_USE_STUBS_DATA=false

# if graphql is running locally
# VITE_GRAPH_TARGET=http://localhost:4000/graphql

# if graphql is running on testnet
# VITE_GRAPH_TARGET=https://test-api-v3.balancer.fi/

# if graphql is running on mainnet
VITE_GRAPH_TARGET=https://api-v3.balancer.fi/

# if backend is running locally
# VITE_BASE_URL=http://localhost:5001

# if backend is running on production
VITE_BASE_URL=https://quantamm.fi/api
